@dark-mint: #009588;
@mint: #27A69B;


.bg-dark-mint{
    background-color: @dark-mint;
}

.bg-mint{
    background-color: @mint;
}

.nav-bar{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body-background{
    padding:  20px 0px;
    background-color: rgb(192, 187, 187);
    height: 100%;
}

.blog-news{
    background-color: white;
    padding: 20px 10px 15px 10px;
    .img-responsive{
        width: 100%;
        padding: 20px 0px 10px 0px;
        height: 160px;
    } 
    .content{
        height: 200px;
        width: 100%;
        padding-bottom: 10px; 
    }
    .update-date{
        color: gray;
    }

}

h3{
    margin-bottom: 0;
}

p{
    margin-bottom: 10px;
}

.col-sm-4{
    margin-top: 45px;
    padding-right: 20px;
    padding-left: 20px;
}

.logo{
    width: 120px;
    height: 120px;
}

.btn-loadmore{
    width: 100%;
    margin: 20px;
}