@import './colors.scss';

.footer{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul.navbar-nav{
        display: flex;
        flex-direction: row;
        margin-left: 36px;
        li{
            display: flex;
            padding: 25px 15px 25px 0px;
            a{
                color: $dark-mint;
                padding: 0px;
                padding-right: 15px;
            }
            &:after{
                content: ' |';
                color: whitesmoke;
            }
            &:last-child:after{
                content: '';
                color: whitesmoke;
            }
        }
    }
    .copyright{
        color: gray;
        padding: 25px 20px;
    }
}