.col-news{
    margin-bottom: 45px;
    padding-right: 20px;
    padding-left: 20px;
}


.block-news{
    background-color: white;
    padding: 20px 10px 15px 10px;
    .img-responsive{
        width: 100%;
        padding: 20px 0px 10px 0px;
        height: 160px;
    } 
    p{
        height: 200px;
        width: 100%;
        padding-bottom: 10px; 
        overflow: hidden;
    }
    .update-date{
        color: gray;
    }
}

.btn-loadmore{
    background-color: white;
    border: 1px solid gray;
    border-radius: .25rem;
    cursor: pointer;
    width: 100%;
    margin: 0px 20px 75px 20px;
    padding: 15px 0;
}


@media (max-width: 767px) {
    .col-news {
        padding-right: 0;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        border-bottom: 1px solid gray;
    }
    .block-news{
        display: flex;
        padding: 8px 10px 10px 10px;
        .img-responsive{
            width: 40%;
            padding: 0 10px 0 0;
            height: 100%;
        } 
        .title{
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 18px
        }

        p{
            width: 100%;
            padding-bottom: 0; 
            font-size: 14px;
            height: 100px;
            overflow: hidden;
        }
        .update-date{
            color: gray;
            margin-bottom: 10px;
            font-size: 12px;
        }
    }
    .btn-loadmore{
        margin: 10px 5px 10px 5px;
    }
    .footer{
        display: none !important;
    }
}